@charset "UTF=8";

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1:#c1923a;
    --cor2:#cda966;
    --cor3:#aa6715;
        /* Estas são as cores, fontes usadas no site. */
    --font1:'Special Elite', cursive;
    --font2:'Patrick Hand', cursive;
}

body {
    background: lightgray url(../imagens/wallpaper006.jpg) fixed no-repeat center center;
}

header {
    background-color: var(--cor1);
    padding: 5px 20px 13px;
}

header h1 {
    text-align: center;
    font: bold 2.0em var(--font1);
    color: rgb(216, 216, 216);
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.297);
}

header > a {
    display: block;
    padding-top: 15px;
    text-align: center;
    font: bold 1em var(--font2);
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.297);
    color: rgb(216, 216, 216);
    text-decoration: none;
}

header > a:hover  {
    color: rgb(255, 255, 255);
}

header nav {
    margin-top: 60px;
}

nav a {
    padding: 13px;
    font: bold 1.1em var(--font1);
    color: rgb(216, 216, 216);
    text-decoration: none;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.297);
}

nav a:hover {
    color: rgb(255, 255, 255);
}

header p {
    text-align: center;
    margin-top: 0px;
    padding: 0px;
}

h2 {
    padding: 10px;
    text-align: justify;
    font: bold 1.5em var(--font1);
}

p {
    padding: 10px;
    line-height: 1.4em;
    font-family: var(--font2);
}

