@charset "UTF-8";

/* Configurações em pé (portrait)*/

body {
    background: black url(../imagens/cev-portrait.jpg) center center no-repeat fixed;
    background-size: cover;
}

h1 {
    background-color: black;
    color: white;
}