@charset "UTF=8";

@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

:root {
    --cor01: #262524;
    --cor02: #595959;
    --cor03: #BFB7A8;

    --font01: 'Caprasimo', 'cursive';
    --font02: Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(91, 203, 241);
}

header {
    background-image: linear-gradient(to top, var(--cor02), var(--cor01));
    padding-bottom: 20px;
}

header h1 {
    text-align: right;
    padding: 10px;
    color: rgb(82, 186, 220);
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.644);
    font: normal 2.5em var(--font01);
}

header nav {
    margin-top: 50px;
    padding-left: 10px;
}

header a {
    color: rgb(82, 186, 220);
    padding: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.501);
    text-decoration: none;
    font: bold 1.2em var(--font02)
}

header a:hover {
    text-decoration: underline;
    color: rgb(165, 212, 246);
    padding: 08px;
    border-radius: 10px;
 }

 h2 {
    text-align: center;   
    padding: 20px 0px;
    font: bolder 2em var(--font01);
    color: var(--cor01);
    text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.291);
 }

 main {
    background-color: white;
    max-width: 900px;
    min-width: 300px;
    margin: auto;
 }

 main p {
    line-height: 1.8em;
    text-indent: 20px;
    text-align: justify;
    font-family: var(--font02);
    padding: 5px;
 }

 main strong {
    background-color: rgba(172, 255, 47, 0.693);
    padding: 5px;
 }

 main a {
    color: black;
    text-decoration: none;
    font: normal 1em var(--font02);
 }

 main a:hover {
    color: rgb(0, 106, 255);
 }

  main img {
    display: flex;
    margin: auto;
    padding: 15px;
    width: 60%;
    background-attachment: fixed;
    
  }

  footer {
    background-color: black;
    color: white;
    padding: 5px;
    font: normal 1em var(--font02);
    text-align: center;
    text-indent: 20px;
  }

  footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
  }

  footer a:hover {
    text-decoration: underline;
    color: rgb(183, 227, 236);
  }


