/* 
Cores
.capoeira-1-hex { color: #DFE5F2; }
.capoeira-2-hex { color: #BF6341; }
.capoeira-3-hex { color: #8C3A27; }
.capoeira-4-hex { color: #260A08; }
.capoeira-5-hex { color: #401E1B; } */

/* 
Fontes
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
font-family: 'Cinzel', serif;
 */
